<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="description" content="Electron Angular Webpack Demo App">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<base href="<%= htmlWebpackPlugin.options.baseHref %>">
		<title>Electron Angular Webpack</title>
        <link rel="stylesheet" href="global.scss">
    </head>

	<body>
		<app-root>Caricamento in corso ...</app-root>
	</body>

</html>